import Header from "../Components/Header";
import Footer from "../Components/Footer";
import NavBar from "../Components/Header/NavBar";
import SearchForm from "../Components/Header/SearchForm";

export default function Contact() {
return (
<>
    {/* En tete de la page */}
    <Header>
        <NavBar />
        <SearchForm />
    </Header>
    <main className="main">
        <h1>Envoyer un message</h1>

        <form className="contact-form">
            <label>
                Pseudo
                <input type="text" name="pseudo" required />
            </label>

            <label>
                Email
                <input type="email" name="email" required />
            </label>

            <label>
                Confirmation Email
                <input type="email" name="confirmEmail" required />
            </label>

            <label>
                Sujet
                <input type="text" name="subject" required />
            </label>

            <label>
                Message
                <textarea name="message" rows={6} required />
                </label>

        <button type="submit">Envoyer</button>
      </form>
    </main>
    {/* Footer avec liens utiles */}
    <Footer />
    </>
  );
}