@use "./vars";

body {
  margin: 0;
  padding: 0;
  font-family: vars.$font-main;
  background: vars.$background;
  color: vars.$text-light;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: vars.$white;
  margin-bottom: 0.8em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

a {
  color: vars.$text-secondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.logo_home {
  display: flex;
  width: 20%;
}

.logo_fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: vars.$text-light;
}
.hero h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: vars.$bg-dark;
  border-bottom: 1px solid #444;

  li {
    color: vars.$text-secondary;
    font-weight: bold;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: vars.$white;
    }
  }
}

.container {
  display: flex;
}

.card {
  background-color: vars.$bg-section;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__image {
  background-color: vars.$bg-section;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card__body {
  font-size: 20px;
  color: vars.$text-light;
  margin-bottom: 10px;
  padding: 20px;
}

// button {
//   background-color: vars.$text-secondary;
//   color: vars.$white;
//   border: none;
//   padding: 10px 16px;
//   border-radius: 6px;
//   font-weight: bold;
//   cursor: pointer;

//   &:hover {
//     background-color: darken(vars.$text-secondary, 10%);
//   }
// }

//Layout générique
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  background-color: vars.$bg-section;
  padding: 20px;
  border-radius: 10px;
}

// input,
// textarea {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #444;
//   background-color: #2c2c2c;
//   color: vars.$text-light;
//   border-radius: 4px;
//   margin-top: 4px;
//   margin-bottom: 16px;

//   &::placeholder {
//     color: vars.$text-secondary;
//   }
// }

// label {
//   font-weight: 600;
//   display: block;
//   margin-bottom: 8px;
// }
