//Couleurs & Thèmes
$bg-dark: #07202A;
$bg-light: #18576E;
$background: linear-gradient(to bottom, $bg-dark, $bg-light);
$bg-section: #2a2a2a;

$text-light: #f8f8f8;
$text-secondary: #c0c0c0;

$white: #ffffff;
$black: #000000;
$red: #6b0d0d;

//Typo
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Inter', sans-serif;