@use './reset.scss';
@use './global.scss';
@use './mixins.scss';

@use '../Components/Footer/footer';
@use '../Components/NavLink/navlink';
@use '../Components/Header/NavBar/navbar';
@use '../Components/Array/array';
@use '../Components/Header/SearchForm/searchform';
@use '../Components/Header/header';
@use '../Components/ContentCarousel/contentCarousel';
@use '../Components/Rate/rate';

@use 'pages/Account/AccountForm.scss';
@use 'pages/Account/MyAccount.scss';
@use 'pages/Account/MyRecipes.scss';


@use 'pages/Food/AddRecipe.scss';
@use 'pages/Food/RecipeDetail.scss';

@use 'pages/Home.scss';
@use 'pages/TermsAndConditions.scss';
@use 'pages/PrivacyPolicy.scss';
@use 'pages/LegalNotice.scss';
@use 'pages/AboutUs.scss';