@use "../../styles/vars";

.carousel__wrapper {
    width: 90%;
    margin: 1rem auto;
        
        .carousel__title {
            margin-bottom: 1rem;
            font-family: vars.$font-main;
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .card__wrapper {
            display: flex;
            width: 100%;
        }
}

