@use "../vars";

.legal {
  //   display: flex;
  //   flex-direction: column;
  color: white;
  font-family: vars.$font-main;
  padding: 2rem;
  margin: 2rem auto;
  line-height: 1.6;
  //   gap: 4rem;

  &__title {
    font-size: 26px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 16px;
  }

  &__highlight {
    font-weight: 600;
  }

  &__link {
    color: white;
    font-style: italic;

    &:hover {
      color: vars.$bg-dark;
      font-weight: bold;
    }
  }
}
