@use "../../../styles/vars";
@use '../../../styles/mixins' as *;

.search__form {
  display: flex;
  width: 100%;
  max-width: 750px;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;

  &__input {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 1.3rem;
    font-size: 14px;
    font-style: italic;
    background-color: white;
    color: vars.$bg-dark;
    font-family: vars.$font-main;
  }

  &__button {
    color: white;
    font-weight: bold;
    font-family: vars.$font-main;
    background-color: rgb(255, 255, 255, 0.15);
    border: none;
    border-radius: 1.3rem;
    font-weight: 700;
    padding: 0.8rem;
    transition: all 0.4s ease-out;

    &:hover {
      transform: scale(1.02);
      background-color: vars.$bg-light;
      color: vars.$bg-light;
      font-weight: bold;
    }
  }
}

.results__columns {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
  gap: 2rem;
  margin-top: 1.5rem;
}

.results__column {
  min-width: 0;   /* Empêche la colonne de forcer sa propre largeur */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.results__column ul {
  list-style: none;
  padding: 0;
}

.results__column li {
  margin-bottom: 0.5rem;
  line-height: 1.3;
}



@include medium {
  .search__form {
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;

    &__input {
      font-size: 1rem;
    }

    &__button {
      padding: 0.8rem 1.2rem;
    }
  }
}

@include large {
  .search__form {
    max-width: 100%;
    padding: 2rem;
    gap: 0.1rem;

    &__input {
      font-size: 1.1rem;
    }

    &__button {
      font-size: 1.1rem;
    }
  }
}