@use '../../../styles/vars';
@use '../../../styles/mixins' as *;

.nav-bar {
    ul {
        display: flex;
        align-items: center;
        padding: 0;
        list-style: none;
    }

    li {
        margin-right: 1rem;
    }

    @include medium {
        ul {
            justify-content: space-between;
        }

        .logo_home {
            width: 4rem;
        }

        .logo_account {
            width: 5rem;
        }
    }

    @include large {
        ul {
            padding: 2 2rem;
        }
    }

    .account-link {
        margin-left: auto;
    }

    .logo_account {
        width: 4rem;
        display: block;
    }
}